
@{
    ViewBag.Title = "Orders";
}

<h1>Orders</h1>

@using (Html.BeginForm())
{
    <p class="form-inline">
        <input type="date" class="form-control" placeholder="Enter product name..." name="dateSearch" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
}


<h2>Order </h2>
<br />

<table class="table table-striped">
    <thead>
        <th>Product Name</th>
        <th>List Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <td></td>
        <td></td>
        <td>Grand Total</td>
        <td></td>
    </tfoot>
</table>
<br />