@model u21589276_HW06.Models.productsVm

@{
    Layout = null;
}
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<br />
<div class="container">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                <b>Product Name</b><input type="text" id="prodName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <b>Brand ID</b><input type="text" id="brandID" class="form-control" />
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <b>Category ID</b><input type="text" id="prodCat" class="form-control" />
        </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <b>Model year</b><input type="text" id="modelYear" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <b>Price</b><input type="text" id="prodPrice" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="createprodbtn" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() =>
    {
        $("#createprodbtn").on("click", () => {
            $.post({
                url: "@Url.Action("Createprod", "products")",
                type: "POST"
                data: {
                    name: $("#prodName").val(),
                    price: $("#prodPrice").val(),
                    category: $("#prodCat").val(),
                    modelyear: $("#modelYear").val(),
                    brand: $("#brandID").val()
                },
                success: (data) => {
                    let msg = JSON.parse(data);
                    alert(msg.message);
                }
            });
        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
