@model List<u21589276_HW06.Models.product>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>product: @Model[0].product_name</h4>
    <dl class="dl-horizontal">
        <h5>@Model[0].product_name</h5>
    </dl>

        <div class="form-actions">
            <input type="submit" id="@Model[0].product_id" value="Delete" onclick="DelConfirm(this.id)" class="btn btn-danger" />
        </div>
    
</div>

<script type="text/javascript">

    function DelConfirm(prodID) {
        $.ajax({
            url: '/products/DeleteConfirmed/',
            type: 'POST',
            data: { id: prodID },
            success: function () {
                alert("Product Deleted");
            },
            error: function () {
                alert("There is some problem in the Details service! Check Controller or view.");
            }
        });
    }
</script>